extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      if winners.length
        ul
          each winner in winners
            li #{winner.name} won #{winner.auctionItem} for $#{winner.bidAmount} on #{winner.dateWon.toDateString()}
      else
        p No winners found.
